.contNuevoCurso {
    width: 100%;
    margin: auto;
}

.contFormComp {
    width: 50%;
    margin: auto;
}

.form-label {
    color: white;
}

.titleNuevoCurso {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0;
}

.contadorAvance {
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
    margin: 0;
    padding: 1rem 0;
}

/* Barra de progreso */
.contProgressBar {
    position: fixed;
    bottom: 1rem;
    right: 0;
    margin: auto;
    left: 0;
    z-index: 5;
    width: 95%;
    background-color: white;
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1rem;
}

.progressMainWrapper {
    background-color: #ffd6ae;
    height: 1.05rem;
    width: 75%;
}

.progressMainStyle {
    height: 1.05rem;
    background-color: #F8922C;
}

.contProgressBar h4 {
    color: #F8922C;
    font-size: 1.45rem;
    margin: 0;
    font-weight: bold;

}

/* Modal */


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.open {
    display: block;
}

.modal-content {
    background-color: #f8f8f8 !important;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.buttonTypeUno {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #414141;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.buttonTypeUno:hover {
    border-color: #0974f1;
    box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
}

.buttonTypeUno:active {
    box-shadow: 0 0 10px rgba(9, 117, 241, 0.4);
}

.botonesTemporales {
    text-align: center;
    margin: 2rem 0;
    margin-bottom: 10rem;
}

.subtitleModal {
    text-align: center;
}

.parrafoTempor {
    color: black;
    margin: 0;
}

.buttonComenzar {
    appearance: none;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.5em;
    width: 12rem;
    min-width: 0;
    outline: none;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.buttonComenzar:disabled {
    pointer-events: none;
}

.buttonComenzar:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.buttonComenzar:active {
    box-shadow: none;
    transform: translateY(0);
}

@media (min-width: 768px) {
    .titleNuevoCurso {
        font-size: 2.5rem;
    }

    .contadorAvance {
        font-size: 1.75rem;
    }

    .contProgressBar {
        width: 85%;
    }

    .contProgressBar h4 {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    .contProgressBar {
        width: 65%;
        height: 10vh;
    }

    .contProgressBar h4 {
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {
    .titleNuevoCurso {
        font-size: 3rem;
        padding: 4rem 0;
    }

    .contadorAvance {
        font-size: 2rem;
        padding: 1.5rem 0;
    }

    .contProgressBar {
        width: 60%;
    }

    .contProgressBar h4 {
        font-size: 2rem;
    }
}
.backgDefault.active {
    position: relative;
    background-color: aqua;
    overflow: hidden;
    z-index: 23;
  }
  
  .backgDefault.active::before {
    content: "";
    position: absolute;
    bottom: 88%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%230099ff' fill-opacity='1' d='M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
    z-index: 23;
  }

  /* ajustes celular*/
  @media (min-width: 375px) {
    .titleNuevoCurso {
        font-size: 1.5rem;
        padding-top: 5rem;
        padding: 4rem 0rem 1rem;
    }

    .contadorAvance {
        font-size: 1rem;
    }

    .contProgressBar {
        width: 90%;
    }

    .contProgressBar h4 {
        font-size: 1rem;
    }
    .containLetters {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        width: 850%;
        flex-wrap: wrap;
        gap: 0.8rem;
    }
    .col-6 {
        width: 100% !important;
    }
}
 /* ajustes celular*/
 @media (min-width: 360px) {
    .titleNuevoCurso {
        font-size: 1.5rem;
        padding-top: 5rem;
    }

    .contadorAvance {
        font-size: 1rem;
    }

    .contProgressBar {
        width: 90%;
    }

    .contProgressBar h4 {
        font-size: 1rem;
    }
    .containLetters {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        width: 850%;
        flex-wrap: wrap;
        gap: 0.8rem;
    }
    .col-6 {
        width: 100% !important;
    }
}
/*ajustes a tablet*/
@media (min-width: 820px) {
    .titleNuevoCurso {
        font-size: 3rem;
    }

    .contadorAvance {
        font-size: 1.75rem;
    }

    .contProgressBar {
        width: 85%;
    }

    .contProgressBar h4 {
        font-size: 2rem;
    }
    .modal-content {
        margin: 8% auto;
        padding: 20px;
        border: 1px solid rgb(136, 136, 136);
        width: 80%;
        max-width: 630px;
        border-radius: 5px;
        background-color: rgb(248, 248, 248) !important;
    }
}
/*ajuste a tablet 768px*/
@media (min-width: 768px) {
    .titleNuevoCurso {
        font-size: 2.5rem;
    }

    .contadorAvance {
        font-size: 1.75rem;
    }

    .contProgressBar {
        width: 90%;
    }

    .contProgressBar h4 {
        font-size: 2rem;
    }
    .preguntaAhorcado{
        font-size: 1.5rem;
        text-align: justify;
    }
    .containError {
        display: flex;
        width: 22%;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
    }
    .buttonNextQuestion {
        padding: 0.5rem 1rem;
        display: flex;
        margin: auto;
        margin-top: 2rem;
        border-radius: 1rem;
        border: none;
        background-color: var(--color-PrincipalHang);
        font-size: 1.5rem;
    }
    .modal-content {
        margin: 8% auto;
        padding: 20px;
        border: 1px solid rgb(136, 136, 136);
        width: 80%;
        max-width: 630px;
        border-radius: 5px;
        background-color: rgb(248, 248, 248) !important;
    }
}
.preguntaAhorcado{
    text-align: justify;
}

/*ajuste a cel 280px*/
@media (min-width: 280px) {
    .titleNuevoCurso {
        text-align: center;
        color: white;
        font-size: 1.5rem;
        margin: 0;
        padding: 4rem 0rem 1rem;
    }

    .contadorAvance {
        font-size: 1.2rem;
    }

    .contProgressBar {
        width: 90%;
    }

    .contProgressBar h4 {
        font-size: 1rem;
    }
    .preguntaAhorcado{
        font-size: 1rem;
        text-align: justify;
    }
    .containError {
        display: flex;
        width: 22%;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
    }
    .buttonNextQuestion {
        padding: 0.5rem 1rem;
        display: flex;
        margin: auto;
        margin-top: 2rem;
        border-radius: 1rem;
        border: none;
        background-color: var(--color-PrincipalHang);
        font-size: 1rem;
    }
    .TituloHang {
        font-size: 1rem;
        color: var(--color-PrincipalHang);
    }
    .containLetters {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        width: 500%;
        flex-wrap: wrap;
        gap: 0.8rem;
    }
    .col-6 {
        width: 100% !important;
    }
}

/*ajuste a cel 1280px*/
@media (min-width: 1280px) {
    .titleNuevoCurso {
        text-align: center;
        color: white;
        font-size: 3rem;
        margin: 0;
        padding: 1rem 0rem 1rem;
    }

    .contadorAvance {
        font-size: 2rem;
    }

    .contProgressBar {
        width: 90%;
    }

    .contProgressBar h4 {
        font-size: 2rem;
    }
    .preguntaAhorcado{
        font-size: 1.5rem;
        text-align: justify;
    }
    .TituloHang {
        font-size: 2rem ;
        color: var(--color-PrincipalHang);
    }
    .containError {
        display: flex;
        width: 63%;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
    }
    .buttonNextQuestion {
        padding: 0.5rem 1rem;
        display: flex;
        margin: auto;
        margin-top: 2rem;
        border-radius: 1rem;
        border: none;
        background-color: var(--color-PrincipalHang);
        font-size: 1.5rem;
    }
    .modal-content {
        background-color: #f8f8f8 !important;
         margin: 0; 
        padding: 20px !important;
        border: 1px solid #888 !important;
        width: 100% !important;
         max-width: 100%; 
        border-radius: 5px !important;
        height: 100%;
    }
   .divcan{
    width: 300px;
    height: 400px;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    margin-left: 30rem;
   }
}

.tablet {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}



.tablet tr {
    background-color: #f8f8f8;
    border-bottom: 1px solid #dddddd;
}

.tablet th, .tablet td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
}

.tablet thead th{ 
    background-color: #F8922C;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}



@media screen and (max-width: 600px) {
    .tablet {
        border: 0px;
    }
    .tablet caption {
        font-size: 22px;
    }
    .tablet thead {
        display: none;
    }
    .tablet tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .tablet th, .tablet td {
        font-size: 12px;
    }
    .tablet td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .tablet  td:last-child {
        border-bottom: 0px;
    }
    .tablet td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}

@media screen and (max-width: 768px) {
    .tablet {
        border: 0px;
    }
    .tablet caption {
        font-size: 22px;
    }
    .tablet thead {
        display: none;
    }
    .tablet tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .tablet th, .tablet td {
        font-size: 12px;
    }
    .tablet td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .tablet  td:last-child {
        border-bottom: 0px;
    }
    .tablet td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}
@media screen and (max-width: 912px) {
    .tablet {
        border: 0px;
    }
    .tablet caption {
        font-size: 22px;
    }
    .tablet thead {
        display: none;
    }
    .tablet tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .tablet th, .tablet td {
        font-size: 12px;
    }
    .tablet td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .tablet  td:last-child {
        border-bottom: 0px;
    }
    .tablet td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}