/* Import Google font - Poppins */
:root{
  --color-BackgroundCard: #1A314C; 
  --color-TituloCard: #F8922C;
  --color-PrincipalCard: #F8922C;
  --color-TextoCard: #fff;
}
::-webkit-scrollbar {
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background: #F8922C;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f8a858;
}
.containerCard {
  display: flex;
  gap: 12px;
  width: 50%;
  margin: auto;
  background: transparent;
  border-radius: 12px;
  padding: 30px 0;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-padding: 30px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.containerCard .cardn {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 12px;
  background: var(--color-BackgroundCard);;
  scroll-snap-align: start;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.cardn .image {
  height: 150px;
  width: 150px;
  padding: 4px;
  background:var(--color-PrincipalCard);;
  border-radius: 50%;
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fff;
}
.cardn h3 {
  margin-top: 25px;
  color: var(--color-TituloCard);
  font-size: 22px;
  font-weight: 600;
}
.cardn p {
  margin-top: 4px;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-TextoCard);
  text-align: center;
}
