* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    color: white;
    background-color: #0A131E;
    font-family: sans-serif;
}

h1 {
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    margin: 20px 0;
}

.aplicacion-cursos {
    background-color: #0A131E;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cursos-lista-principal {
    width: 1100px;
    min-height: 500px;
    background-color: #1A314C;
    padding: 25px;
    margin: 10px;
    border-radius: 26px;
}

#root {
    font-family: sans-serif;
    background-color: #0A131E;
    display: flex;
    flex-wrap: nowrap;
}
.contenedorPrincipal {
    width: 100%;
}

/*Boton general*/
.btn-general {
    width: 35%;
    background-color: #F8922C;
    border-radius: 50px;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.btn-general:hover {
    background-color: #1A314C;
    color: white;
    border-color: white;
}

.btn-general-actividades {
    width: 35%;
    background-color: #F8922C;
    border-radius: 50px;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

.btn-general-actividades:hover {
    background-color: #0A131E;
    color: white;
    border-color: white;
}

.btn-general-upload {
    width: 35%;
    background-color: #F8922C;
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}


/*estilo para nav lateral*/
.nav {
    font-family: sans-serif;
    width: 300px;
    display: block;
}

.nav-header {
    font-size: x-large;
    font-family: sans-serif;
    align-items: center;
    width: 100%;
    background-color: #14253A;
    color: #fff;
    height: 14vh;
    display: flex;
    justify-content: center;
}

.nav-header img {
    margin: 0.2rem;
    width: 20%;
    align-items: center;
    justify-items: center;
}

.navlink {
    width: auto;
    height: auto;
    color: white;
    text-decoration: none;
    border-radius: 1rem;
}

.navlink:hover {
    font-size: large;
    color: white;
    font-family: sans-serif;
}

.nav__link {
    color: #F8922C;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link:hover {
    color: #F8922C;
}


.nav__link--inside {
    border-radius: 6px;
    padding-left: 20px;
    text-align: left;
}

.nav__link--inside:hover {
    background: #1A314C;
}

.list {
    font-family: sans-serif;
    width: 100%;
    height: 86vh;
    overflow: auto;
    background: #1A314C;
}

.list__item {
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__item--click {
    cursor: pointer;
}

.list__button {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow {
    transform: rotate(90deg);
}

.list__arrow {
    margin-left: auto;
    transition: transform .3s;
}

.list__show {
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #F8922C;
    list-style: none;
    transition: height .4s;
    height: 0;
}

ol,
ul {
    padding-left: 0 !important;
}

.wrapper {
    height: 50px;
    width: 0;
    position: relative;
    transition: all 0.3s ease;
    z-index: 999;
}
@media (min-width: 768px){
    .wrapper {
        width: 30rem;
    }
}
@media (min-width: 992px){
    .wrapper {
        width: 26rem;
    }
}
@media (min-width: 1200px){
    .wrapper {
        width: 24rem;
    }
}

.wrapper .menu-btn {
    position: fixed;
    left: 20px;
    top: 10px;
    background: #1A314C;
    color: #fff;
    height: 45px;
    width: 45px;
    z-index: 9999;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#btn:checked~.menu-btn {
    left: 247px;
}

.wrapper .menu-btn i {
    position: absolute;
    font-size: 23px;
    transition: all 0.3s ease;
}

.wrapper .menu-btn i.fa-times {
    opacity: 0;
}

#btn:checked~.menu-btn i.fa-times {
    opacity: 1;
    transform: rotate(-180deg);
}

#btn:checked~.menu-btn i.fa-bars {
    opacity: 0;
    transform: rotate(180deg);
}

#sidebar {
    position: fixed;
    background: #404040;
    height: 100%;
    width: 270px;
    overflow: hidden;
    left: -270px;
    transition: all 0.3s ease;
}

#btn:checked~#sidebar {
    left: 0;
}

.widthZero {
    width: 0;
}