*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    color:white;
    background-color: #0A131E;
    font-family: sans-serif;
}
h1{
    color: white;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 20px 0;
}
.aplicacion-cursos{
    background-color: #0A131E;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cursos-lista-principal{
    width: 1100px;
    min-height:500px;
    background-color: #1A314C;
    padding: 25px;
    margin: 10px;
    border-radius: 26px;
}

#root{
    background-color: #0A131E;
}

/*estilos de navegaciòn*/
nav{
    background-color: #1A314C;
    margin-top: 0;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 40px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}
li a.active, li a:hover{
    background: #F8922C;
    transition: .5s;
    color: #0A131E;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}
/* ESTILOS HANG */
.containWordSecret, .containLetters{
    display: flex;
}
.wordSecret{
    padding: 1rem;
    border-bottom: 2px solid black;
    margin: 0.5rem 1rem;
    color: #0A131E
}
.contHang{
    width: 8rem;
    height: 18rem;
    position: relative;
}

.headHang{
    width: 50%;
    display: flex;
    margin: auto;
}
.bodyHang{
    width: 0.6rem;
    height: 7rem;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 3rem;
    margin: auto;
}
.leftArmHang,.RightArmHang,.leftLegHang,.RightLegHang{
    width: 0.6rem;
    height: 4rem;
    background-color: black;
    position: absolute;
}
.leftArmHang, .leftLegHang{
    transform: rotate(45deg);
    top: 0;
    left: 0;
    right: 3rem;
    bottom: 5rem;
    margin: auto;
}
.RightArmHang, .RightLegHang{
    transform: rotate(135deg);
    top: 0; 
    left: 3rem;
    right: 0;
    bottom: 5rem;
    margin: auto;
}
.leftLegHang{
    bottom: 0;
    top: 6rem;
}
.RightLegHang{
    bottom: 0;
    top: 6rem;
}
.headHang, .bodyHang, .leftArmHang,.RightArmHang,.leftLegHang,.RightLegHang{
    display: none;
}
/*Boton general*/
.btn-general{
    width: 35%;
    background-color: #F8922C;
    border-radius: 50px;
    font-size: x-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.btn-general:hover{
    background-color:#1A314C;
    color: white;
   border-color: white;
}
.btn-general-actividades{
    width: 35%;
    background-color: #F8922C;
    border-radius: 50px;
    font-size: x-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.btn-general-actividades:hover{
    background-color:#0A131E;
    color: white;
   border-color: white;
}