:root{
    --color-TituloAcordeon:white;
    --color-PrincpalAcordeon:rgba(4,57,94);
    --color-FondoTetxoAcordeon: white
  }
.textCenterAcordeon{
    text-align:center;
}
.inputAcordeon {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.accordion-wrapper {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    width: 75%;
    margin:0 auto;
}
.accordion {
    width: 100%;
    color: var(--color-TituloAcordeon);
    overflow: hidden;
    margin-bottom: 16px;
}
.accordion:last-child{
    margin-bottom: 0;
}
.accordion-label {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px;
    background: var(--color-PrincpalAcordeon);
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}
.accordion-label:hover {
    background: var(--color-PrincpalAcordeon);
}
.accordion-label::after {
    content: "\276F";
    width: 16px;
    height: 16px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content {
    max-height: 0;
    padding: 0 16px;
    color: var(--color-PrincpalAcordeon);
    background: var(--color-FondoTetxoAcordeon);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content p{
    margin: 0;
    color: var(--color-PrincpalAcordeon);
    font-size: 18px;
}
.inputAcordeon:checked + .accordion-label {
    background: var(--color-PrincpalAcordeon);
}
.inputAcordeon:checked + .accordion-label::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.inputAcordeon:checked ~ .accordion-content {
    max-height: 100vh;
    padding: 16px;
}

@media(min-width: 992px){
    .accordion-wrapper {
        width: 50%;
       
    }
}