.contImg{
    width: 90%;
    height: 500px;
    margin: auto;
    margin-top: 20px;
    gap: 1rem;
    display: flex;
    transition: all 0.5s ease;
}
.ImgCard{
    width: 8%;
    height: 500px;
    object-fit: cover;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.ImgCardActive{
    width: 55%;
}