/* .contenedor-principal{
    width: 70%;
    margin: auto;
    flex-direction: column;
    display: flex;
} */
.contenedor-principalGeneral{
    display: block;
    text-align: center;
    margin: auto;
}
h2{
    color: #F8922C;
}