:root{
    --color-Background: #1A314C;
}
.contenedorPrincipalHang {
    width: 90%;
    background-color: var(--color-Background);
    border-radius: 3rem;
    padding: 1.5rem;
    margin: auto;
    margin-top: 5rem;
}

.TituloHang{
    font-size: 1.5rem;
}

.questionHang {
    color: #fff;
    font-size: 1rem;
    margin: 0;
}

.containWordSecret,
.containLetters {
    display: flex;
}

.containWordSecret {
    justify-content: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.containLetters {
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 0.8rem;
}
.buttonAlphabet {
    border-radius: 10px;
    border: 0;
    background-color: #F8922C;
    letter-spacing: 1.5px;
    font-size: 1rem;
    transition: all .3s ease;
    box-shadow: #C66606 0px 10px 0px 0px;
    color: #22201E;
    width: 2.5rem;
    font-weight: bold;
}

.buttonAlphabet:hover {
    box-shadow: #C66606 0px 7px 0px 0px;
}

.buttonAlphabet:active {
    background-color: #F8922C;
    box-shadow: #C66606 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}


.wordSecret {
    padding: 0.5rem;
    border-bottom: 2.5px solid #F8922C;
    margin: 0.5rem 1rem;
    color: #fff;
    font-size: 0.85rem;
}
.wordSecret span{
    display: none;
}

.contSecundario {
    display: flex;
    flex-direction: column;
}

.contHang {
    width: 8rem;
    height: 15rem;
    position: relative;
    margin: auto;
}

.headHang {
    width: 50%;
    display: flex;
    margin: auto;
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        top: 1.5rem;
}

.bodyHang {
    width: 0.5rem;
    height: 5rem;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -1rem;
    margin: auto;
}

.leftArmHang,
.RightArmHang,
.leftLegHang,
.RightLegHang {
    width: 0.5rem;
    height: 3rem;
    background-color: black;
    position: absolute;
}

.leftArmHang,
.leftLegHang {
    transform: rotate(45deg);
    top: 0;
    left: 0;
    right: 2rem;
    bottom: 1rem;
    margin: auto;
}

.RightArmHang,
.RightLegHang {
    transform: rotate(135deg);
    top: 0;
    left: 2rem;
    right: 0;
    bottom: 1rem;
    margin: auto;
}

.leftLegHang {
    bottom: 0;
    top: 7rem;
}

.RightLegHang {
    bottom: 0;
    top: 7rem;
}

.headHang,
.bodyHang,
.leftArmHang,
.RightArmHang,
.leftLegHang,
.RightLegHang {
    display: none;
}
.contBtnNext{
        display: flex;
        align-items: center;
        justify-content: center;
}
.contBtnNext button{
    font-size: 1.2rem;
}
.imgAnswer{
    width: 2.5em;
    margin: 1rem 0;
    display: none;
}
.btnNextQuestion {
    width: 70%;
    background-color: #F8922C;
    border-radius: 50px;
    font-size: 1.5rem;
    color: black;
}
@media(min-width: 768px){
    .TituloHang{
        font: 1.75rem;
    }
    .wordSecret, .questionHang, .buttonAlphabet {
        font-size: 1.25rem;
    }
    .buttonAlphabet{
        width: 3rem;
    }
    .contSecundario {
        display: flex;
        flex-direction: column;
    }
}
@media(min-width: 992px){
    .contSecundario {
        flex-direction: row;
    }
    .containLetters{
        width: 50%;
    }
}
@media(min-width: 1400px){
    .TituloHang{
        font: 2rem;
    }
    .wordSecret, .questionHang, .buttonAlphabet {
        font-size: 1.5rem;
    }
}