.contenedor-instrucciones{
    width: 100%;
}
.contenedor-titulo{
    position:absolute;
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
    width: 25rem;
    background-color: #F8922C ;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.contenedor-titulo h4{
    font-size: 4rem;
}
.contenedor-texto{
    width: 80%;
    background-color: #1A314C;
    border-radius: 2rem;
    margin: auto;
}
.contenedor-texto .contenedor-texto-puntos{
    color: white;
    width: 100%;
    padding: 2rem 2rem 2rem 18rem;
}
.contenedor-texto .contenedor-texto-puntos h5{
   margin-left: 5rem;
}
.footer{
    color: #F8922C;
    font-size: xx-large;
    width: 60%;
    margin: auto 0 auto auto;
}
.footer button{
    padding: 0.5rem;
    width: 40%;
    margin: 1rem;
}
/*imagen instrucciones*/
.imagen-principal-instrucciones{
    position: absolute;
    top: 16rem;
    width: 15%;
}