@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
:root{
  --color-BackgroundCardProfile: #1A314C; 
  --color-PrincipalCardProfile: #F8922C;
  --color-TextoCardProfession: #F8922C;
  --color-TituloCardProfile: #fff;
}
.containerProfile{
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem;
}
.cardProfile{
  height: 280px;
  max-width: 350px;
  margin: 0 20px;
  background: var(--color-PrincipalCardProfile);
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.cardProfile:hover{
  height: 470px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.cardProfile .img{
  height: 200px;
  width: 100%;
}
.cardProfile .img img{
  height: 100%;
  width: 100%;
 justify-content: center;
 align-items: center;
 background-repeat: no-repeat;

}
.cardProfile .top-text{
  padding: 5px;
}
.cardProfile .top-text .name{
  font-size: 25px;
  font-weight: 600;
 color:var(--color-TituloCardProfile);
}
.cardProfile .top-text p{
  font-size: 20px;
  font-weight: 600;
color:var(--color-TextoCardProfession);
  line-height: 20px;
}
.cardProfile .bottom-text{
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: var(--color-BackgroundCardProfile);
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.cardProfile:hover .bottom-text{
  opacity: 1;
  visibility: visible;
}
.cardProfile .bottom-text .text{
  text-align: justify;
}
.cardProfile .bottom-text .btn{
  margin: 10px 0;
  text-align: left;
}
.cardProfile .bottom-text .btn a{
  text-decoration: none;
  background: var(--color-PrincipalCardProfile);
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}
.cardProfile .bottom-text .btn a:hover{
  transform: scale(0.9);
}
@media screen and (max-width: 978px) {
  .containerProfile{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .cardProfile{
    max-width: 700px;
    margin: 20px 0;
  }
}
