.contNuevoCurso{
    width: 100%;
    margin: auto;
}
.contFormComp{
    width: 50%;
    margin: auto;
}
.form-label{
    color: white;
}
.contNuevoCursoComponent{
    background-color: #0099ff;
}
.titleNuevoCurso{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    margin: 0;
}