#appColor{
    width: 90%;
    margin: auto;
}
.carousel__list{
    display: flex;
    justify-content: space-between;
}
.carousel__item{
    width: 2.25rem;
    position: relative;
    filter: saturate(0.2) contrast(0.75) brightness(1.1);
    transition: all 0.35s ease;
}
.carousel__item:hover{
    width: 3rem;
}
.carousel__contents{
    position: absolute;
    bottom: 10px;
    opacity: 0;
}
.carousel__contents h2, .carousel__contents h3{
    font-size: 0.65rem;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 1;
}
.carousel__image img{
    object-fit: cover;
    height: 16rem;
    border-radius: 2rem;
    cursor: pointer;
}
.carousel__image_active{
    width: 5.5rem !important;
    filter: none !important;
}
.isVisible{
    opacity: 1;
}
@media(min-width: 768px){
    #appColor{
        width: 30rem;
    }
    .carousel__item{
        width: 3.255rem;
    }
    .carousel__item:hover{
        width: 4rem;
    }
    .carousel__image_active{
        width: 7rem !important;
    }
    .carousel__contents h2, .carousel__contents h3{
        font-size: 0.85rem;
    }
    .carousel__contents{
        left: 10px;
    }
}
@media(min-width: 992px){
    #appColor{
        width: 40rem;
    }
    .carousel__image img{
        height: 20rem;
    }
    .carousel__item{
        width: 4.5rem;
    }
    .carousel__item:hover{
        width: 4.75rem;
    }
    .carousel__image_active{
        width: 8rem !important;
    }
    .carousel__contents h2, .carousel__contents h3{
        font-size: 1rem;
    }
}
@media(min-width: 1200px){
    #appColor{
        width: 46rem;
    }
    .carousel__image img{
        height: 26rem;
    }
    .carousel__item{
        width: 5rem;
    }
    .carousel__item:hover{
        width: 6.25rem;
    }
    .carousel__image_active{
        width: 10rem !important;
    }
    .carousel__contents h2, .carousel__contents h3{
        font-size: 1.25rem;
    }
}