:root{
    --color-BackgroundHang: #1A314C; 
    --color-PrincipalHang: #F8922C;
    --color-SecundarioHang: #C66606 ;
    --color-TextoHang: #fff;
    --color-TextoAlfabetoHang: #22201E;
    --ancho-ComponenteHang: 90%; 
}
.contenedorPrincipalHang {
    width: var(--ancho-ComponenteHang);
    background-color: var(--color-BackgroundHang);
    border-radius: 3rem;
    padding: 1.5rem;
    margin: auto;
    margin-top: 5rem;
}

.TituloHang{
    font-size: 1.5rem;
    color: var(--color-PrincipalHang);
}
.preguntaAhorcado{
    color: white;
}
.containLetters {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 0.8rem;
}
.buttonAlphabet {
    border-radius: 10px;
    border: 0;
    background-color: var(--color-PrincipalHang);
    letter-spacing: 1.5px;
    font-size: 1rem;
    transition: all .3s ease;
    box-shadow: var(--color-SecundarioHang) 0px 10px 0px 0px;
    color: var(--color-TextoAlfabetoHang);
    width: 2.5rem;
    font-weight: bold;
}

.buttonAlphabet:hover {
    box-shadow: var(--color-SecundarioHang) 0px 7px 0px 0px;
}

.buttonAlphabet:active {
    background-color: var(--color-PrincipalHang);
    box-shadow: var(--color-SecundarioHang) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}