:root{
    --color-BackgroundHang: #1A314C; 
    --color-PrincipalHang: #F8922C;
    --color-SecundarioHang: #C66606 ;
    --color-TextoHang: #fff;
    --color-TextoAlfabetoHang: #22201E;
    --ancho-ComponenteHang: 40%; 
}
.contenedorPrincipalHang {
    width: var(--ancho-ComponenteHang);
    background-color: var(--color-BackgroundHang);
    border-radius: 3rem;
    padding: 1.5rem;
    margin: auto;
    margin-top: 5rem;
}

.TituloHang{
    font-size: 1.5rem;
    color: var(--color-PrincipalHang);
}
.preguntaAhorcado{
    color: white;
}
.containLetters {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 70%;
    flex-wrap: wrap;
    gap: 0.8rem;
}
.buttonAlphabet {
    border-radius: 10px;
    border: 0;
    background-color: var(--color-PrincipalHang);
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    transition: all .3s ease;
    box-shadow: var(--color-SecundarioHang) 0px 10px 0px 0px;
    color: var(--color-TextoAlfabetoHang);
    width: 2.5rem;
    font-weight: bold;
}
.grisDisable{
    filter: grayscale(1);
}

.buttonAlphabet:hover {
    box-shadow: var(--color-SecundarioHang) 0px 7px 0px 0px;
}

.buttonAlphabet:active {
    background-color: var(--color-PrincipalHang);
    box-shadow: var(--color-SecundarioHang) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}
.contRenderPalabraEscondida{
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}
.contLetraEscondida{
    border-bottom: 3px solid var(--color-PrincipalHang);
    display: inline-block;
    width: 2.5rem;
    height: 3rem;
    text-align: center;
}
.contLetraEscondida p{
    color: #fff;
    font-size: 2rem;
    margin: 0;
    display: inline-block;
}
.contLettersError{
    display: flex;
    justify-content: space-around;
}
.containError{
    display: flex;
    width: 20%;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;

}
.imgXError, .imgCorrectIncorrect{
    width: 2.5rem;
    height: 2.5rem;
}
.buttonNextQuestion{
    padding: 0.5rem 1rem;
    display: flex;
    margin: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--color-PrincipalHang);
}